@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Custom Style Starts from here */

@keyframes textGlow {
  0% {
    text-shadow: 2px;
  }
  25% {
    text-shadow: 4px;
  }
  50% {
    text-shadow: 6px;
  }
  75% {
    text-shadow: 4px;
  }
  100% {
    text-shadow: 2px;
  }
}
